:root {
    --index: calc(1vw + 1vh);
  }
html{
  overflow-x: hidden;
}
@media only screen and (max-width:767px){
  .hero{
    position: relative;
  }
  body {
    height: 160vh;
    margin: 0;
    background-color: #ECF2FF;
    overflow-x: hidden;
  }
  
  .sec1 {
    position: relative;
    top: 4vh;
    left: 2vw;
  }
  
  .sec2 {
    position: relative;
    top: 18vh;
    left: 38vw;
  }
  
  .sec3 {
    position: relative;
    top: 32vh;
    left: 2vw;
  }
  
  .logos {
    position: relative;
    top: 20vh;
    width: 100%;

  }
  
  .sec4 {
    position: relative;
    top: 46vh;
    left: 30vw;
  }
  
  .sec5 {
    position: relative;
    top: 70vh;
    left: 2vw;
  }
  
  .sec6 {
    position: relative;
    top: 70vh;
    left: 70vw;
  }
  
  .sec7 {
    position: relative;
    top: 70vh;
    padding-bottom: 3vhx;
  }
  .sec8 {
    position: relative;
    top: 70vh;
    left: 49vw;
  }

.text_wo{
    position: relative;
    width: 60vw;
    left: 5vw;
    top:70vh;

    font-family: Courier;
    font-weight: bold;
    font-style: normal;
    font-weight: 400;
    font-size: 7vw;
    color: #000000;
}
}
@media only screen and (min-width:768px){
  .hero{
    position: relative;
  }
  body {
    height: 170vh;
    margin: 0;
    background-color: #ECF2FF;
    overflow-x: hidden;
  }
  
  .sec1 {
    position: relative;
    top: 4vh;
    left: 2vw;
  }
  
  .sec2 {
    position: relative;
    top: 18vh;
    left: 38vw;
  }
  
  .sec3 {
    position: relative;
    top: 32vh;
    left: 2vw;
  }
  
  .logos {
    position: relative;
    top: 14vh;
    width: 100%;

  }
  
  .sec4 {
    position: relative;
    top: 46vh;
    left: 30vw;
  }
  
  .sec5 {
    position: relative;
    top: 70vh;
    left: 2vw;
  }
  
  .sec6 {
    position: relative;
    top: 70vh;
    left: 70vw;
  }
  
  .sec7 {
    position: relative;
    top: 70vh;
    padding-bottom: 3vhx;
  }
  .sec8 {
    position: relative;
    top: 70vh;
    left: 49vw;
  }

.text_wo{
    position: relative;
    width: 60vw;
    left: 5vw;
    top:70vh;

    font-family: Courier;
    font-weight: bold;
    font-style: normal;
    font-weight: 400;
    font-size: 7vw;
    color: #000000;

}

}
@media only screen and (min-width:992px){
  body {
    background-color: #ECF2FF;
    overflow-x: hidden;
  }
  
  .sec1 {
    position: relative;
    left: 2vw;
  }
  
  .sec2 {
    position: relative;
    top: 38.5vh;
    left: 38vw;
  }
  
  .sec3 {
    position: relative;
    top: 73vh;
    left: 2vw;
  }
  
  .logos {
    position: absolute;
    top: 250vh;
    width: 100%;

  }
  
  .sec4 {
    position: relative;
    top: 110vh;
    left: 30vw;
  }
  
  .sec5 {
    position: relative;
    top: 200vh;
    left: 2vw;
  }
  
  .sec6 {
    position: relative;
    top: 200vh;
    left: 70vw;
  }
  
  .sec7 {
    position: relative;
    top: 190vh;
  }
  .sec8 {
    position: relative;
    top: 190vh;
    left: 49vw;
  }
  
  .hero {

    position: relative;
    height: 100vh;
  }

  .content{
    height: 500vh;
  }
.text_wo{
    position: relative;
    width: 60vw;
    left: 25vw;

    top: 190vh;
    font-family: 'Days One';
    font-style: normal;
    font-weight: 400;
    font-size: 7vw;
    line-height: 17vh;

    color: #000000;
}
}
