:root{
    --index:calc(1vw+1vh);
}
@media only screen and (max-width:767px){
    .fact2{
        position: absolute;
        width: 60vw;
        height: 10vh;
        background: linear-gradient(296.35deg, rgba(219, 185, 255, 0.52) 14.66%, rgba(219, 185, 255, 0.644756) 60.13%, rgba(219, 185, 255, 0) 60.13%, rgba(141, 248, 255, 0.55) 60.14%);
        border-radius: 10vw;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);}
}
@media only screen and (min-width:768px){
    .fact2{
        position: absolute;
        width: 60vw;
        height: 10vh;
        background: linear-gradient(296.35deg, rgba(219, 185, 255, 0.52) 14.66%, rgba(219, 185, 255, 0.644756) 60.13%, rgba(219, 185, 255, 0) 60.13%, rgba(141, 248, 255, 0.55) 60.14%);
        border-radius: 10vw;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);}
}
@media only screen and (min-width:992px){
.fact2{
    position: absolute;
    width: 60vw;
    height: 33vh;
    background: linear-gradient(296.35deg, rgba(219, 185, 255, 0.52) 14.66%, rgba(219, 185, 255, 0.644756) 60.13%, rgba(219, 185, 255, 0) 60.13%, rgba(141, 248, 255, 0.55) 60.14%);
    border-radius: 10vw;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);}
.span2{
    color:white;
}
}